/include/ "zynq.dtsi"

/ {
	model = "Xilinx Zynq ZC706";
	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};

	chosen {
//		bootargs = "console=ttyPS0,115200 root=/dev/mmcblk0p2 rw earlyprintk rootfstype=ext4 rootwait";
// memory size = 512 MB
		bootargs = "console=ttyPS0,115200 mem=512M root=/dev/mmcblk0p2 rw earlyprintk rootfstype=ext4 rootwait";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	leds {
		compatible = "gpio-leds";
		ds8 {
			label = "ds12:green";
			gpios = <&gpio 61 0>;
		};

		ds9 {
			label = "ds15:green";
			gpios = <&gpio 62 0>;
		};

		ds10 {
			label = "ds16:green";
			gpios = <&gpio 63 0>;
		};

		ds35 {
			label = "ds17:green";
			gpios = <&gpio 64 0>;
		};
	};

  umem {
     compatible = "dmem-uio";
     reg = < 0x20000000 0x20000000 >; // (address, size)
  };
  slave0 {
    compatible = "dmem-uio";
    reg = < 0x43c00000 0x010000 >; // (address, size)
  };
  slave1 {
    compatible = "dmem-uio";
    reg = < 0x43c10000 0x010000 >; // (address, size)
  };
  slave2 {
    compatible = "dmem-uio";
    reg = < 0x43c20000 0x010000 >; // (address, size)
  };
  slave3 {
    compatible = "dmem-uio";
    reg = < 0x43c30000 0x010000 >; // (address, size)
  };
  slave4 {
    compatible = "dmem-uio";
    reg = < 0x43c40000 0x010000 >; // (address, size)
  };
  slave5 {
    compatible = "dmem-uio";
    reg = < 0x43c50000 0x010000 >; // (address, size)
  };
  slave6 {
    compatible = "dmem-uio";
    reg = < 0x43c60000 0x010000 >; // (address, size)
  };
  slave7 {
    compatible = "dmem-uio";
    reg = < 0x43c70000 0x010000 >; // (address, size)
  };

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;

		sw7 {
			label = "Left";
			linux,code = <105>; // Left
			gpios = <&gpio 58 0>;
		};

		sw8 {
			label = "Right";
			linux,code = <106>; // Right
			gpios = <&gpio 60 0>;
		};

		sw9 {
			label = "Select";
			linux,code = <28>; // Enter
			gpios = <&gpio 59 0>;
		};
	};
};

&eth {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	phy0: phy@7 {
		compatible = "marvell,88e1116r";
		device_type = "ethernet-phy";
		reg = <0x7>;
	};
};

&usb {
	xlnx,phy-reset-gpio = <&gpio 7 0>;
};
